// linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
$nearlyGrey: #a5a0a0;
$lightBlack: rgb(53, 41, 41);

$neonBlue: #54d4d4;
$betterRed: #fe4a49;
$yellowish: #fed766;
$diffGrey: #e6e6ea;
$lightGrey: #f4f4f8;

.product-page-background {
    height: 100vh;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1507123088351-58f09404d43a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80');
//     background: #000000;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #plans-head {
        color: $neonBlue;
        font-size: 4rem;
    }

    .milk-type-btn {
        cursor: pointer;
        width: 10rem;
        height: 4rem;
        font-size: 1.2rem;
        text-align: center;
        font-weight: bold;
        border-radius: 25px;
        border: none;
        margin: 40px 20px;
        background-color: $betterRed;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: 300ms;

        &:hover {
            transform: translateY(-5px);
            transition: 300ms;
        }
        &:focus {
            outline: none;
        }
    }

    .plans {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        .plan {
            flex: auto;
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 
            0 6px 30px 5px rgba(0, 0, 0, 0.12), 
            0 8px 10px -5px rgba(0, 0, 0, 0.2);
            height: 52vh;
            max-width: 20%;
            // background-color: $cardBackground;
            margin: 0 20px;
            border-radius: 15px;
            text-align: center;
            // color: $almostBlack;
            // padding: 2rem 4rem;
            background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));

            .content {
                height: 200px;
                margin: 0 2rem;
                h2 {
                    color: rgba(0, 0, 0, 0.3);
                    margin: 20px 0;
                }
            }

            .individual-header {
                background-color: $yellowish;
                margin: 0;
                padding: 1.5rem;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            
            .price {
                display: flex;
                align-items: center;
                justify-content: center;

                .price-tag {
                    font-size: 5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
                
                .rupee {
                    height: 2rem;
                    // color: $cardBackground;
                }
            }

            .plan-type {
                font-size: 1.5rem;
                font-family: Arial, Helvetica, sans-serif;
                // color: $almostBlack;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            .plan-btn {
                cursor: pointer;
                opacity: 1;
                transition: 300ms;
                width: 11rem;
                height: 4rem;
                border: none;
                border-radius: 30px;
                font-size: 1.2rem;
                color: white;
                box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 
                0 6px 30px 5px rgba(0, 0, 0, 0.12), 
                0 8px 10px -5px rgba(0, 0, 0, 0.2);

                &:hover {
                    transform: scale(1.1);
                    transition: .5s;
                }

                &:focus {
                    outline: none;
                }

                .plan-link {
                    text-decoration: none;
                    color: $lightGrey;
                }
            }
        }
    }
}

// Media queries

@media only screen and ( max-width: 1400px ) {
    .product-page-background {
        padding-top: 10rem;
        height: 100%;
        
        .plans {
            .plan {
                flex: 25%;
                max-width: 30%;
                margin-bottom: 40px;
                margin: 2rem 4rem;
                // height: 40vh;
                // width: 100%;

                .plan-btn {
                    transform: translateY(-2rem);
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .product-page-background {
        .plans {
            .plan {
                max-width: 40%;
                margin: 2rem 3rem;
            }
        }
    }
}

@media only screen and ( max-width: 800px ) {
    .product-page-background {
        .plans {
            .plan {
                flex: 50%;
                max-width: 60%;
            }
        }
    }
}

@media only screen and ( max-width: 700px ) {
    .product-page-background {
        #plans-head {
            font-size: 3rem;
        }
        .plans {
            .plan {
                flex: 50%;
                max-width: 60%;
            }
        }
    }
}

@media only screen and ( max-width: 500px ) , ( max-height: 700px ) {
    .product-page-background {
        .milk-type-btn {
            width: 9rem;
        }
        #plans-head {
            font-size: 2rem;
        }
        .plans {
            .plan {
                max-width: 70%;
            }
        }
    }
}