$nearlyGrey: #a5a0a0;
$lightBlack: rgb(53, 41, 41);
$lightGrey: #ffffff;

// Background image styling part
.home-background {
    background-image: url('https://images.pexels.com/photos/799273/pexels-photo-799273.jpeg');
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    .header {
        color: $nearlyGrey;
        margin-top: 10rem;

        .main {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: 200;
            font-size: 4rem;
            margin-bottom: 20px;
        }

        .sub {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 40%;
            font-weight: 100;
        }
    }
}

// Styling below the image background
.shadow-container {
    height: 200vh;
    background-color: #f8f8f8;
    .upper-container {
        background-color: white;
        height: 190vh;
        padding: 0 20%;
        margin: 0 2%;
        transform: translateY(-5%);
        text-align: center;
        border-radius: 15px;
        box-shadow: -5px 5px 15px -5px rgb(207, 200, 200);

        #product-talk {
            padding-top: 10%;

            #product-talk-subhead {
                font-weight: 100;
                color: $nearlyGrey;
            }
        }
        .product-talk-head {
            color: $lightBlack;
            margin-bottom: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 2.5rem;
            font-weight: 500;
        }

        // Users
        #users {
            margin-top: 7%;

            #all-user-div {
                margin-top: 5%;
                display: flex;

                .user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 25px;
                    padding: 15px;
                    background-color: $lightGrey;
                    box-shadow: 5px 5px 20px rgb(207, 200, 200);
                    border-radius: 20px;
                    
                    .user-photo {
                        background-image: url('https://randomuser.me/api/portraits/men/83.jpg');
                        background-position: center;
                        background-size: cover;
                        height: 10rem;
                        width: 10rem;
                        background-color: $nearlyGrey;
                        border-radius: 40%;
                        margin-bottom: 10px;
                        box-shadow: -5px 5px 15px -5px rgb(207, 200, 200);
                    }

                    .user-header {
                        margin-top: 10px;
                        margin-bottom: 8px;
                        color: $lightBlack;
                    }

                    .user-subheader {
                        color: $nearlyGrey;
                        font-weight: 100;
                        margin-bottom: 15px;
                    }
                    .social-icons {
                        cursor: pointer;

                        // This is class from mui
                        .MuiSvgIcon-root {
                            margin: 5px;
                            padding: 10px;
                            border-radius: 5px;
                            box-shadow: 5px 5px 10px #dac7c7, 
                            -5px -5px 10px #f7f1f1 ;
                        }
                    }
                }
            }
        }
    }
}

//Extra small devices (phones, 600px and down)
@media only screen and ( max-width: 600px ) {
    // Upper screen styling
    .home-background {
        background-size: unset;
        .header {
            margin-left: 10%;
            .main {
                width: 100%;
            }
            .sub {
                width: 70%;
            }
        }
    }
}

// Small devices (portrait tablets and large phones, 600px & up)
@media only screen and ( min-width: 600px ) {
    .home-background {
        .header {
            margin-left: 10%;
            .main {
                width: 80%;
            }
            .sub {
                width: 50%;
            }
        }
    }
}

// Medium devices (landscape tablets, 768px and up)
@media only screen and ( min-width: 768px ) {
    .home-background {

        .header {
            margin-left: 10%;
            .main {
                width: 50%;
            }
        }
    }
}

@media only screen and ( min-width: 992px ) {
    .home-background {
        .header {
            margin-left: 15%;
            .main {
                width: 50%;
            }
            .sub {
                width: 50%;
            }
        }
    }
}

//
@media only screen and ( min-width: 1200px ) {
    .home-background {
        .header {
            margin-left: 20%;
            .main {
                width: 40%;
            }
        }
    }
}