// #ffffff • #d0e1f9 • #4d648d • #283655 • #1e1f26
// previous red color :- rgb(199, 5, 102)

$redOrange: rgb(199, 5, 102);
$blueLight: #f1f4f8;
$moreLightBlue: #4d648d;
$darkBlue: #283655;
$blackBlue: #1e1f26;
$lightGrey: #eeeeee;


nav {
    // background-color: $blackBlue;
    height: 7vh;
    position: fixed;
    z-index: 1;
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 20%;
    background-color: $blackBlue;

    #logo-header {
        text-decoration: none;
        color: $lightGrey;
    }
}

// Hamburger styling starts
.hamburger {
    margin-top: 2px;
    padding: 6px;
    color: $lightGrey;
}

.collapse-container {
    display: flex;
    flex-direction: column;
    width: 15rem;
    
    .hamburger-links {
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 5px 15px;
        padding: 15px;
        color: black;
        font-family: sans-serif;
        transition: 300ms;

        &:hover {
            color: white;
            transform: translateX(-3px);
            transition: 300ms;
            background-color: rgb(240, 68, 68);
        }
    }
}

// hamburger styling ends